{% if site.vars.email %}<a href="mailto:{{ site.vars.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.vars.links.facebook %}<a href="https://facebook.com/{{ site.vars.links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.vars.links.github %}<a href="https://github.com/{{ site.vars.links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.vars.links.twitter %}<a href="https://twitter.com/{{ site.vars.links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.vars.links.youtube %}<a href="https://youtube.com/{{ site.vars.links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.vars.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
